# --- Core ---
torch>=2.4.0
torchvision
numpy>=1.26.0
pandas

# --- Perception ---
ultralytics
opencv-python
supervision>=0.20.0

# --- Sequence & Transformer ---
einops
timm
filterpy
scipy

# --- Deployment ---
onnx>=1.16.0
onnxruntime-gpu
tensorrt>=10.1.0

# --- Utilities ---
loguru
tqdm
python-ffmpeg

pyside6